@font-face {
        font-family: ubuntu;
        src: url('statics/fonts/Ubuntu-Regular.ttf');
      }

@font-face {
        font-family: ubuntubold;
        src: url('statics/fonts/Ubuntu-Bold.ttf');
      }

body { 
        margin: 0;
        padding: 0;
}

.layout {
        display: flex;
        margin: 0;    
}

.left {
        background-image: url("statics/images/mountain_flowers.jpg");
        position: relative;
        height: 100vh;
        width: 100rem;
        background-size: cover;
        background-position: 50% 50%;
}

.text-left{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
        background-size: cover;
        background: linear-gradient(to bottom, rgba(252, 252, 252, 0.5), transparent, rgba(29, 28, 29, 0.7));
      }

.logo {
        text-align: center;
        color: rgb(87, 24, 82);
        margin-top: 3rem;
        font-size: 100pt;
        font-family: ubuntubold;
        letter-spacing: .5rem;
}

.credit {
        position: absolute;
        text-align: center;
        color: rgb(209, 212, 200);
        font-family: ubuntu;
        bottom: 3vw;
        left: 50%;
        transform: translate(-50%, -2vw);
        font-size: 0.8rem;
      }

.credit > a {
        color: rgb(209, 212, 200);
}

.right {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100vh;
        margin: 0;
}

.text-right {
        background-color: rgb(238, 240, 240);
        color: rgb(43, 61, 44);
        padding: 3rem;
        font-size: 25px;
        font-family: ubuntu;
}

form {
        background-color: rgb(253, 253, 253);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 3rem;
        box-shadow: 0 8px 5px 0 rgb(223, 226, 229);
        z-index: 1;
}

.form-field {
        display: flex;
        flex-direction: column;
}

label {
        font-family: ubuntubold;
        text-transform: uppercase;
        color: rgb(92, 105, 91);
}

input {
        padding: 0.7rem;
        border-radius: 0.5rem;
        border: rgb(209, 212, 200) solid 1px;
        font-family: ubuntubold;    
}

input:valid {
        border: rgb(209, 212, 200) solid 1px;
}

.invalid {
        border: 1px solid red;
}

#password-message {
        font-family: ubuntu;
        margin: 0;
}

.buttons {
        background-color: rgb(241, 241, 241);
        padding: 3rem;
}

.buttons {
        background-color: rgb(238, 240, 240);
}
button {
        border: none;
        background-color: rgb(87, 24, 82);
        color: rgb(238, 240, 242);
        box-shadow: 0 2px 5px 0 #ccc;
        font-size: 1rem;
        padding: 1rem 2rem;
        margin: 1rem 0;
        border-radius: 0.5rem;
        font-family: ubuntubold;
}

button:hover {
        opacity: 0.9;   
        cursor: pointer;
}

.login {
        font-family: ubuntu;
        font-size: 1.2rem;
        color: rgb(43, 61, 44);
}

.login > a {
        font-family: ubuntubold;
        color: rgb(87, 24, 82);
}

.login > a:hover {
        cursor: pointer;
        opacity: 0.9;  
}

