
@font-face {
        font-family: Lobster;
        src: url('../assets/fonts/Lobster-Regular.ttf');
}

@font-face {
        font-family: Barlow;
        src: url('../assets/fonts/Barlow-Regular.ttf');
}

@font-face {
        font-family: Barlow-bold;
        src: url('../assets/fonts/Barlow-Bold.ttf');
}

:root {
        --title-font-color: rgb(96, 70, 30);
        --secondary-font-color: rgb(71, 60, 43);
        --ligth-font-color: rgb(228, 220, 207);
        --section-background: rgba(211,228,241, 0.9);
        font-family: Barlow, Arial, Helvetica, sans-serif;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


/*      ---- BACKGROUND ----       */

#background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/home.jpg");
        -webkit-transform: scaleX(-1); 
        transform: scaleX(-1); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
}

/*      ---- CONTENT ----       */

#content {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: linear-gradient(to bottom, transparent 80%, rgba(20, 20, 20, 0.9) 100%);
        justify-content: center;
        z-index: 1; 
}


/*      ---- LEFT SIDE ----       */

#home-div {
        display: flex;
        flex-direction: column;
        height: 100%;
}

#restaurant-name {
        font-family: Lobster;
        font-size: 10rem;
        margin: 0;
        padding: 3rem 3rem 0 3rem;
        text-align: center;
        color: var(--title-font-color);
}

/*      navigation */
#nav-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 6rem;
}

.nav-button {
        background-color: transparent;
        outline: none;
        font-family: Barlow;
        font-size: 2rem;
        color: var(--title-font-color);
        text-align: center;
        border: 0;
        letter-spacing: 2;
        padding: 1rem;
}

.nav-button:after,
.nav-button:before {
        backface-visibility: hidden;
        border-top: 1px solid var(--title-font-color);
        border-bottom: 1px solid var(--title-font-color);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
}

.nav-button:hover:after,
.nav-button:hover:before {
        backface-visibility: hidden;
        border-color: var(--title-font-color);
        transition: width 350ms ease-in-out;
        width: 100%;
}

.nav-button:hover:before {
        bottom: auto;
        top: 0;
        width: 100%;
}

#footer {
        color: var(--ligth-font-color);
        font-family: Barlow;
        text-align: center;
        justify-self: flex-end;
        margin-top: auto;
        padding-bottom: 2rem;
}

#footer > a {
        color: var(--ligth-font-color);
        font-family: Barlow-bold;
}

#footer > a:link, 
#footer > a:visited, 
#footer > a:hover, 
#footer > a:active { 
        text-decoration: none; 
} 


/*      ---- RIGHT SIDE ----       */

#about, .menu {
        height: 100%;
        width: 100%;
        background-color: var(--section-background);
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        overflow-y: scroll;
}

h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: var(--secondary-font-color);
}

h2 {
        font-size: 2rem;
        margin: 0.5rem 0;
        color: var(--secondary-font-color);
}

p {
        font-size: 20px;
        color: var(--secondary-font-color);
}

/* About */
#reservantion {
        font-family: Barlow-bold;
}

/* Menu */
.menu-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 2rem 0;
}

.menu-text {
        padding: 0 2rem;
}

.menu-image {
        height: 200px;
        width: 200px;
        border-radius: 0.5rem;
}

::-webkit-scrollbar {
        width: 15px;
      }

/* Track */
::-webkit-scrollbar-track {
        background: var(--section-background);
      }
/* Handle */
::-webkit-scrollbar-thumb {
        background: var(--secondary-font-color);
        border-radius: 10px;
        padding: 2rem;
      }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: #555;
      }