@font-face {
        font-family: Roboto;
        src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
      }

@font-face {
        font-family: Roboto-Bold;
        src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
      }

* {
        font-size: 100%;
        font-family: Roboto, Times, Verdana, Geneva, Tahoma, sans-serif;
       }

body {
        margin: 0;
}

.layout {
        overflow: hidden;
        height: 100vh;
        display: grid;
        grid-template-columns: 18rem auto;
        background-color: rgb(251, 251, 251);
}

.main {
        display: grid;
        grid-template-rows: 10rem auto;
}

/* Side nav */
nav {
        background-color: rgb(81, 32, 54);
}

#logo {
        font-size: 2rem;
        font-family: Roboto-bold;
}

#logo > .img-icon {
        height: 2.5rem;
}

nav .img-icon {
        filter: invert(1);
        height: 1.5rem;
        margin-right: 0.5rem;
}

nav > ul {
        list-style: none;
        font-size: 1.2rem;
        padding-left: 0;
}

.menu-item {
        display: flex;
        align-items: center;
        margin: 0.75rem 2rem;
}

.menu-item {
        color: rgb(255, 255, 255);
}

.menu-item:hover {
        color: rgb(245, 245, 245);
        cursor: pointer;
}

/* Header */
.header-container {
        padding: 1rem 1.5rem;
        top: 0;
        display: grid;
        grid-template-rows: auto auto;
        background-color: rgb(190, 143, 167);
}

.header-top {
        display: flex;
        justify-content: space-between;
        margin: 0.5 0.5rem;
}

.search-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 2;
}

.search-icon {
        height: 1.5rem;
}

input:focus{
        outline: none;
}

.profile-container {
        display: flex;
        align-items: center;
        justify-self: right;
}
.notification-icon {
        height: 2rem;
        margin: 0 0.5rem;
}

.profile-image {
        border-radius: 50%;
        margin: 0 0.5rem;
        padding: 0.5rem;
        background-color: #ddd1a6;
}
#profile-small {
        height: 2rem;
        padding: 0.25rem;
        margin-right: 0;
}

#profile-large {
        height: 3.5rem;
}
.profile-container-bottom {
        display: flex;
}

.profile-name {
        margin: 0 0.5rem;
        font-size: 1.2rem;
        font-family: Roboto-Bold;
}

.profile-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
}
.welcome {
        font-size: 2rem;
}

.profile-name-large {
        font-size: 2.5rem;
        font-family: Roboto-Bold;
}

#search {
        width: 30rem;
        border-radius: 2rem;
        background-color: rgb(225, 223, 223, 0.8);
        border: none;
        padding: 0.4rem 1.5rem;
}

.header-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-buttons {
        align-self: flex-end;
        padding: 0.5rem;
}

.header-buttons > button {
        background-color: rgb(137, 38, 119);
        border-radius: 1rem;
        border: none;
        outline: none;
        color: white;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        margin: 0 0 0 1rem;
}

    /* Main content */
.content {
        display: grid;
        grid-template-areas:     
                "projects announcements"
                "projects trending";
        grid-template-columns: 3fr 1fr;
        grid-template-rows:  3fr 1fr;
        grid-gap: 2rem;
        padding: 1.5rem;
        background-color: #e4e2e3;
        
}
.content-title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        font-family: Roboto-bold;
}

.card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fafaf1;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 2px 1px #ccc9cb ;
        padding: 0.5rem 1rem;
}

/* Projects */
.project-grid {
        grid-area: projects;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
}

.project-grid > .card {
        border-left: 0.5rem solid rgb(81, 32, 54);
}

.project-grid > .card:hover {
        border-left: 0.5rem solid rgb(131, 52, 88);
        box-shadow: 3px 3px 2px 1px #ccc9cb ;
}

.card-title {
        color: black;
}

.card-bottom-container {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
}

.skill-tag-container {
        display: flex;
        padding-top: 1rem;
        justify-self: stretch;
        align-self: flex-start;
        
}

.skill-tag {
        background-color: rgb(174, 147, 147);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        margin-right: 0.2rem;
        font-size: 0.8rem;
        color: white;
        align-self: flex-end;
}

.skill-tag:hover {
        cursor: pointer;
}
.card-link-container {
        display: flex;
        justify-content: right;
        align-items: flex-end;
}
.card-icon-link {
        height: 1.5rem;
        margin: 0 0 0 0.5rem;
        filter: invert(.3);
}

.card-icon-link:hover {
        cursor: pointer;
        filter: invert(0.1);
}

/* Announcements */
.announcements {
        grid-area: announcements;
}

.trending {
        grid-area: trending;
}

.announcements > .card {
        font-size: 0.9rem;
        padding: 0 1.5rem;
}

.announcement-text {
        padding-bottom: 1rem;
}

/* Trending */